.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url(assets/background/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}


.btn-primary {
  color: #fff;
  background-color: #0495c9;
  border-color: #357ebd; 
  border-width: 5px;
}

.btn-secondary {
  color: #fff;
  background-color: #0495c9;
  border-color: #357ebd; 
  text-align: right;
  margin: auto;  
  width: 100px;
  height: 100px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e;
  border-width: 5px;
}

.img-control {
  width: 120px;
  height: 120px;
}

.img-secondary {
  width: 80px;
  height: 80px;
}

.img-card {
  display: flex;
  width: 200px;
  background-color: rgba(241, 255, 111, 0.562);
}
.img-a {
  height: 120px; 
  margin: auto;  
}

.card-detail {
  width: 100px; 
  margin: auto;  
}

.card-button-detail {
  text-align: right;
  margin: auto;  
}

row {
  height: 100%;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.button-actions {
  width: 100px;
}
